# Imagekit
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY="public_b81r/U6izubm5nNkJENyuuPKDZU="
IMAGEKIT_PRIVATE_KEY="private_vi0oDYnrhPlrYSMGQbOtpGxODGo="
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT="https://ik.imagekit.io/briyanpatel"

# Database
DATABASE_URL="postgresql://neondb_owner:npg_0CfwILWpTyi1@ep-damp-star-ad5mi9hr-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Logger
LOG_LEVEL="info"
